<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include("partials/head") %> 
    <title>Profil</title>
    <link rel="stylesheet" type="text/css" href="/styles/profile.css" />
    <script type="module" src="/scripts/profile.js"></script>
</head>
<body>
    <div id="infos"><%= user.pseudo %></div>
    <div id="content">
        <img style="display: none" src="/images/loading.gif" alt="Loading">
        <div>
            <header id="header"> 
                <a href="/" class="lefted image">
					<img src="/images/icon.png" alt="icone"/>
				</a>
                <div id="searchDiv">
                    <div id="form">
                        <input type="search" autocomplete="off" placeholder="Rechercher un projet" id="searchInput"/>
                    </div>
                    <div id="searchResults"></div>
                </div>
                <nav>
                    <ul>
                        <li><a class="blue" href="/help">Aide</a></li>
                        <li><a class="blue" href="/logout">Déconnexion</a></li>
                    </ul>
                </nav>
            </header>
            <% if (typeof alreadyConnected !== "undefined" && alreadyConnected === true) { %> 
                <h2 class="error">Vous êtes déjà connecté</h2>
            <% } %>
            <% if (typeof PWModified !== "undefined" && PWModified === true) { %> 
                <h2 class="information">Mot de passe modifié</h2>
            <% } %>
            <% if (typeof registered !== "undefined" && registered === true) { %> 
                <h2 class="information">Bienvenue, vous pouvez désormais créer votre premier projet, consultez notre <a href="/help">page d'aide</a></h2>
            <% } %>
            <% if (typeof settingsChanged !== "undefined" && settingsChanged === true) { %> 
                <h2 class="information">Paramètres modifiés</a></h2>
            <% } %>
            <% if (typeof pageNotFound !== "undefined" && pageNotFound === true) { %> 
                <h2 class="error">La page n'existe pas</h2>
            <% } %>
            <% if (typeof nonExistingProject !== "undefined" && nonExistingProject === true) { %> 
                <h2 class="error">Ce projet n'existe pas</h2>
            <% } %>
        </div>
        <main>
            <h1>Profil de <%= user.username %></h1>
            <div class="noPadding">
                <a href="/project?new" class="blue">Créer un nouveau projet</a>
            </div>
            <div>
                <% if (projects.length > 0) { %>
                    <div>
                        <h2>Projets existants</h2>
                        <ul id="projectList">
                            <% projects.forEach(name => { %>
                                <li class="projectName">
                                    <div>
                                        <a href="/project?projectName=<%=decodeURIComponent(name)%>"><%=decodeURIComponent(name)%></a>
                                        <div class="right">
                                            <span class="deleteButton actionsButton">🗑️</span>
                                            <img src="/images/shareIcon.png" alt="Share" class="shareButton actionsButton">
                                        </div>
                                    </div>
                                </li>
                            <% }) %>    
                        </ul>
                    </div>
                <% } %>
            </div>
            <div>
                <div>
                    <h2>Modifier les paramètres du compte</h2>
                    <div class="links">
                        <p><a href="/settings">Paramètres du compte</a></p>
                    </div>
                </div>
            </div>
        </main>
        <div id="overlay">
	        <%- include("partials/dialogs") %> 
        </div>
    </div>
</body>
</html>